1. What are data structures, and why are they important ?
  - Data structures are the fundamental building blocks of computer programming. They define how data is organized, stored, and manipulated within a program. Understanding data structures is very important for developing efficient and effective algorithms.
  Efficient data management: Help store and organize data effectively.

    1.Faster performance: Improve speed of operations like searching and sorting.

    2.Problem-solving: Enable solutions for complex problems (e.g., graphs, trees).

    3.Optimized algorithms: Algorithms work best with the right data structure.

    4.Interview relevance: Key topic in coding interviews to assess logical thinking.
2. Explain the difference between mutable and immutable data types with examples.
 - Mutable objects can have their values changed after they are created. This means you can add, remove, or modify elements within the object without creating a new object in memory.
 - Immutable objects cannot be changed after they are created. Any operation that appears to modify the object actually creates a new object in memory with the modified value.
 example : Lists , sets and dictionaries mutable data types where you can ad and remove elements and change the data types
 on other hand ; strings and tuples are immutable data types which once defined can not be changed.
3. What are the main differences between lists and tuples in Python ?
  - The main differences between lists and tuples in Python 3 are centered around their mutability and associated characteristics:

  • Mutability:
	  • Lists: Mutable, meaning their elements can be changed (added, removed, or modified) after creation.
	  • Tuples: Immutable, meaning their elements cannot be changed after creation. This ensures data integrity for fixed collections.

  • Syntax:
	 • Lists: Defined using square brackets [].
	 • Tuples: Defined using parentheses ().

  • Performance and Memory:
	 • Lists: Generally less memory-efficient and potentially slower for iteration due to their dynamic size and mutability.
	 • Tuples: Generally more memory-efficient and faster for iteration due to their fixed size and immutability.

  • Use Cases:
	 • Lists: Suitable for collections where elements need frequent modification, such as managing a shopping cart or a list of dynamic tasks.
	 • Tuples: Ideal for representing fixed collections of data that should not change, like geographic coordinates, database records, or configuration settings.

 • Dictionary Keys:
	 • Lists: Cannot be used as dictionary keys because they are mutable and their hash value can change.
	 • Tuples: Can be used as dictionary keys because they are immutable and their hash value remains constant.

4. Describe how dictionaries store data.
  - Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates. As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.Dictionaries are written with curly brackets, and have keys and values.
5. Why might you use a set instead of a list in Python ?
 - One might use set instead of python for the follwing reasons
    1. it automatically  removes duplicate elements allowing user to store only unique elements
    2. To perform set operations:
     Sets support mathematical set operations like:

    union() – combines elements from both sets

    intersection() – common elements

    difference() – elements in one but not the other
6. What is a string in Python, and how is it different from a list?
 - A string in Python is a sequence of characters enclosed in single (') or double (") quotes.
Example: name = "hello"
 a list however is a sequence of elements usually inside a bracket, which is m utable in nature and can be of any data type i.e int, str , float , boolean.Strings are not mutable/immutable and their data types can not be changed

7.  How do tuples ensure data integrity in Python?
 - Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.
8. What is a hash table, and how does it relate to dictionaries in Python?
 - Hash tables are a type of data structure in which the address or the index value of the data element is generated from a hash function. That makes accessing the data faster as the index value behaves as a key for the data value. In other words Hash table stores key-value pairs but the key is generated through a hashing function.
 In Python, the Dictionary data types represent the implementation of hash tables. The Keys in the dictionary satisfy the following requirements.

   1. The keys of the dictionary are hashable i.e. the are generated by hashing function which generates unique result for each unique value supplied to the hash function.

   2. The order of data elements in a dictionary is not fixed.

9. Can lists contain different data types in Python?
 - Yes, lists in Python can include a variety of data types.  This is a major characteristic of Python lists, which makes them a particularly adaptable and versatile data structure.
 A single Python list can contain a variety of data types, such as:

  1. Integer: [1, 2, 3]
  2. Floats are [1.0, 2.5, 3.14].
  3. Strings: ["apple", "banana", "cherry"]
  4. Booleans (True, False, True)
  5. Other data structures: Lists can contain nested lists, tuples, dictionaries, and sets.
   For example: [1, "hello", 3.14, [4, 5], {"key": "value"}].
  
  This ability to store heterogeneous data types within a single list allows for convenient organization and manipulation of diverse information within your programs.

10. Explain why strings are immutable in Python.
 - Strings in Python are immutable, meaning they cannot be changed after they are created. This immutability ensures data safety by preventing accidental changes. It also improves performance because Python can store and reuse string objects more efficiently in memory. Additionally, immutable strings are hashable, which means they can be used as keys in dictionaries or stored in sets. This behavior supports consistent and predictable programming, especially when writing functions that rely on unchanging data. Instead of modifying a string, any operation that changes it results in the creation of a new string.
11. What advantages do dictionaries offer over lists for certain tasks ?
 -  Dictionaries in Python offer faster data access using keys (O(1) time), unlike lists which require searching by index (O(n)). They store data as key-value pairs, making it easier to understand and manage. Dictionaries eliminate the need to track indexes and are ideal for representing structured or real-world data like user profiles or configurations. This makes them more efficient and readable for tasks involving lookup, mapping, or structured storage.
12. Describe a scenario where using a tuple would be preferable over a list?
 - A tuple is preferable when you need to store a fixed set of values that should not change. For example, storing the latitude and longitude of a location is best done using a tuple, as these values represent a single, unchanging unit of data. Tuples ensure data integrity through immutability and can be used as keys in dictionaries, unlike lists. This makes them ideal for use cases where the data is constant and logically grouped, such as coordinates, dates, or configuration settings.
location = (28.6139, 77.2090)  # Tuple
13. How do sets handle duplicate values in Python ?
 - A set is designed to only handle unique values and i n case of any occurence of a duplicate values the re-occuring value is ignored by the set and only the unique elements remain.
14. How does the “in” keyword work differently for lists and dictionaries ?
 - "in" keywords in list and dictionaries work differently in a sense that in list it check for the values in the code where as in the dictionary it looks for the key.
15. Can you modify the elements of a tuple? Explain why or why not ?
 - No, you cannot modify the elements of a tuple in Python because tuples are immutable. This means that once a tuple is created, its contents cannot be changed, added to, or removed. The immutability of tuples ensures that their data remains constant throughout the program, which makes them suitable for storing fixed collections of items. Additionally, because of their immutability, tuples are hashable and can be used as keys in dictionaries or as elements in sets. This characteristic of being unchangeable is what fundamentally distinguishes tuples from lists in Python.
16. What is a nested dictionary, and give an example of its use case?
 - A nested dictionary in Python is a dictionary where values themselves are dictionaries. It allows storing complex, structured data in a hierarchical format.A common use case is representing data with multiple levels of attributes, such as storing information about multiple users or employees, where each person has their own set of details. For example, in an employee management system, a nested dictionary can be used to store employee data.
17. Describe the time complexity of accessing elements in a dictionary.
 - Python dictionaries provide a fast and efficient way to store and retrieve data using key value pair so understanding the time complexities of dictionary operations is very important for optimizing performance in our programs.
 my_dict = {"name": "Aman", "age": 20}
 When you do my_dict["name"], Python quickly jumps to the place where "name" is stored and gives you the value, which is "Alice".This fast access is called O(1) time complexity, which means it takes constant time — super efficient.In very rare cases, if many keys get stored in the same place (called a collision), Python might take longer to find the value, but this doesn't happen often because Python handles this well.

18. In what situations are lists preferred over dictionaries .
 - Lists are preferred over dictionaries when you need to store a simple, ordered collection of items where position (index) matters more than labels or keys.
    Some common situations where lists are better:

    1.When you only need to store values, not key-value pairs.

    2.When you need to maintain the order of items as they are inserted.

    3.When you want to access items by their position (like the first, second, or last item).

    4.When you're working with sequences of data, like numbers, names, or tasks.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 - Dictionaries are considered unordered because they are built for accessing values by keys, not by position. Although Python 3.7 and later versions preserve the order in which items are added, dictionaries don’t support accessing elements by their position like lists do. This means you can’t rely on the order to retrieve items—you always use the key to get the value. This design keeps data retrieval very fast and efficient, but it means dictionaries focus on key-based lookup rather than ordered data storage.
20.  Explain the difference between a list and a dictionary in terms of data retrieval.
 - The main difference between a list and a dictionary in data retrieval is how you access the stored values. In a list, you retrieve data by its position (index) — for example, getting the first or third item. This means you use numbers to find elements, and the order of items matters.In a dictionary, you retrieve data by using a key, which can be any unique identifier like a name or ID. You don’t use a position but a specific key to get the associated value. This makes dictionary lookup very fast and flexible since you don’t have to know the position, just the key.So, lists are best when order and position matter, while dictionaries are best when you want to quickly find data by a unique key.

In [1]:
#Write a code to create a string with your name and print it
name = "Aman"
print(name)

Aman

In [2]:
type(name)

str

In [3]:
#Write a code to find the length of the string "Hello World"
string = "Hello World"
len(string)

11

In [4]:
# Write a code to slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
string[0:3]

'Pyt'

In [5]:
# Write a code to convert the string "hello" to uppercase.
string = "hello"
string.upper()

'HELLO'

In [6]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
string.replace("apple","orange")

'I like orange'

In [7]:
# Write a code to create a list with numbers 1 to 5 and print it.
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [8]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]
list1 =[1,2,3,4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [9]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list2 = [1,2,3,4,5]
list2.remove(3)
print(list2)

[1, 2, 4, 5]

In [10]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list3 = ["a","b","c","d"]
second_element = list3[1]
print(second_element)

b

In [11]:
# Write a code to reverse the list [10, 20, 30, 40, 50].
list4 =  [10, 20, 30, 40, 50]
rev_list = list4[::-1]
print(rev_list)

[50, 40, 30, 20, 10]

In [12]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it
tuple = (100,200,300)
print(tuple)

(100, 200, 300)

In [13]:
type(tuple)

tuple

In [14]:
#  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple1 = ('red', 'green', 'blue', 'yellow')
print(tuple1[-2])

blue

In [15]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple2 = (10, 20, 5, 15)
print(min(tuple2))

5

In [16]:
#  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple3 = ('dog', 'cat', 'rabbit')
print(tuple3.index("cat"))

1

In [17]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple4 = ("apple","banana","kiwi")
if "kiwi" in tuple4:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is in the tuple

In [19]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {"a","b",
          "c"}
print(my_set)
type(my_set)

{'b', 'a', 'c'}

set

In [20]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}
my_set1 = {1, 2, 3, 4, 5}
my_set1.clear()
print(my_set1)

set()

In [21]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set2 = {1, 2, 3, 4}
my_set2.remove(4)
print(my_set2)

{1, 2, 3}

In [22]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [23]:
#  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [24]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name" : "Aman","age" : 24, "city" : "Delhi"}
print(my_dict)

{'name': 'Aman', 'age': 24, 'city': 'Delhi'}

In [25]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict1 = {'name': 'John', 'age': 25}
my_dict1["country"] = "USA"
print(my_dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [26]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict2 = {'name': 'Alice', 'age': 30}
print(my_dict2["name"])

Alice

In [27]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict3 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict3["age"]
print(my_dict3)

{'name': 'Bob', 'city': 'New York'}

In [28]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}. different method
my_dict4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict4.pop("age")
print(my_dict4)

{'name': 'Bob', 'city': 'New York'}

In [29]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
my_dict5 = {'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict5:
    print("city is in the dictionary")
else:
    print("city is not in the dictionary")

city is in the dictionary

In [30]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 7, 'b': 8}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'a': 7, 'b': 8}

In [35]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[10, 23, 36, 67, 92]

In [36]:
# Write a code to create a list with strings and print the element at the third index
my_list = ["apple", "banana", "orange", "date", "watermelon"]
print(my_list[3])

date

In [37]:
# Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [38]:
# Write a code to convert a list of strings into a set.
my_list = ["apple", "banana", "orange", "apple", "banana"]
my_set = set(my_list)
print(my_set)

{'apple', 'orange', 'banana'}